*{

    margin:0;
    padding: 0;
}
.marvel-logo{
    height: 45px;
    width: 100px;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #22262A;
    scroll-behavior: smooth;
}
a:link, 
a:visited {
   list-style: none;
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}
a:hover,
a:active {
    color: white;
    background-color: #ED462F;
    box-shadow:black;
    transform: rotate(6deg) scale(1.2);
    border-left: 20px;

    /* -webkit-transform: rotate(5deg) scale(1.3); */
}

.navbar{
    background-color: #151515;
    font-size: 1.3rem;
}
#nav{
    display:inline-flex;
    gap: 20px;
   align-items: center;
 justify-content: center;
 
    
}

    /* margin:18.72px 0px */

/* .nav{
    display:flex;
} */
.header-main-title{
    color: white;
    margin-top: 50px;
}
#form-group{
    margin-top: 20px;
}
#form-groups{
     width: 300px;
    height: 30px;
}
.submit-group{
    margin-top: 20px;
    margin-left: 300px;
}
#submit-groups{
   background-color: red;
   width: 100px;
   height: 30px;
}
#comics-container{
 background-image:url('https://assets1.ignimgs.com/2019/03/14/avengers-endgame-ver2-poster-button-1552573654882.jpg');
 display: grid;
grid-template-columns: repeat(3,2fr);
gap: 20px;
}
.card:hover,
.card:active {
    color: white;
    background-color: #ED462F;
    box-shadow:black;
    transform: rotate(5deg) scale(1.2);
    border-left: 20px;

    /* -webkit-transform: rotate(5deg) scale(1.3); */
}
#error{
    color: red;
    font-weight: bold;
    font-style: oblique;
}



.card {
    width: 18rem;
    margin: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    border-radius: 0.5rem;
    background-color: darkred;
  }
  .card-img-top {
    object-fit: cover;
    height: 10rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-title {
    font-size: 1.25rem;
    font-weight: bolder;
    font-style: oblique;
  }
  .card-text {
    margin-bottom: 0.5rem;
    font-style: italic;
    font-weight: bold;
  }
  img{
    width: 287px;
    height: 250px;
    
  }
#display-submit{
    background-image: url('https://c8.alamy.com/comp/2HY4F15/marvel-1000-piece-impossible-puzzle-2HY4F15.jpg');
}
.comic {
    width: 18rem;
    margin: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    border-radius: 0.5rem;
    background-color: darkred;
  }
  
  #display-submit{
    background-color: #151515;
    width: 100%;
  }
  #buying{
    margin-left: 230px;
   margin-top: -60px;
   
  }
  #comment{
    margin-bottom: 10px;
    width: 270px;
    height: 50px;
    background-color:#ED462F;
  }
  #submit-comment{
    margin-bottom: -10px;
  }